<style>
        .tmp-banner{
            background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("assets/images/main_banner.jpg") center/cover no-repeat;
            min-height: 70vh;
            background-attachment: fixed;
        }
        .tmp-banner-title{
            font-weight: 600;
            letter-spacing: 1px;
        }
        .tmp-banner-text{
            font-weight: 300;
            opacity: 0.8;
            line-height: 1.8;
        }

        /* ###### cv page ##### */

        .cv-pg {
            font-family: var(--font-roboto);
        }

        .cv-pg .sec-text {
            color: var(--dark-color);
        }

        .cv-pg .page-section {
            padding: 10px 0;
            border-bottom: 1.5px solid var(--light-dark-color);
        }

        .cv-pg .page-section.pg-sec-one {
            grid-template-columns: auto 150px;
        }
        .cv-pg .pg-sec-one-l h2 {
            font-size: 32px;
            font-weight: 500;
        }
        .cv-pg .pg-sec-one-l h5 {
            font-size: 17px;
            font-weight: 500;
        }

        .cv-pg .pg-sec-one-r {
            height: 100px;
            width: 100px;
            overflow: hidden;
            border-radius: 50%;
        }

        .cv-pg .pg-sec-two-l .sec-item {
            margin-bottom: 2px;
        }

        .cv-pg .pg-sec-two-l .sec-item-icon {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            /* margin-right: 15px; */
            font-size: 11px;
        }

        .cv-pg .page-section .sec-title {
            font-family: var(--font-lora);
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 2px;
            margin-bottom: 10px;
        }

        .cv-pg .page-section .sec-text {
            font-size: 15px;
            line-height: 1.4;
        }

        .cv-pg .pg-sec-two {
            grid-template-columns: 40% 60%;
        }

        .cv-pg .pg-sec-two>div {
            padding: 0 25px;
        }

        .cv-pg .pg-sec-two-l {
            border-right: 2px solid rgba(0, 0, 0, 0.25);
            padding-left: 0 !important;
        }

        .cv-pg .pg-sec-three {
            grid-template-columns: 40% 60%;
        }

        .cv-pg .pg-sec-three>div {
            padding: 0 25px;
        }

        .cv-pg .sec-item .sec-list {
            list-style-type: disc;
            margin-left: 17px;
        }

        .cv-pg .border-bottom {
            border-bottom: 2px solid rgba(0, 0, 0, 0.25);
            padding: 15px 0;
        }

        .cv-pg .sec-item-sub-title {
            text-transform: capitalize;
            margin-bottom: 3px;
        }

        .cv-pg .sec-text {
            margin-bottom: 6px;
        }
    </style>
